BasedOnStyle: WebKit

IndentWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Allman

ColumnLimit: 90
PenaltyExcessCharacter: 5

ReflowComments: true
PenaltyBreakComment: 50 

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
