*.csv
/.project
*.obj
/Desktop_Interface/android-build
*.exe
Desktop_Interface/bin/libLabrador.so
Desktop_Interface/build_android/package_source/gradle.properties
*.properties~
*.properties
Desktop_Interface/moc
Desktop_Interface/ui_*.h
Desktop_Interface/release
Desktop_Interface/Makefile*
*.user*
Desktop_Interface/qrc_resources.cpp
Desktop_Interface/Labrador_resource.rc
Desktop_Interface/.qmake.stash
Desktop_Interface/android-libLabrador.so-deployment-settings.json
Desktop_Interface/libc.so
Desktop_Interface/qrc_resources.cpp
Desktop_Interface/app_process
Desktop_Interface/bin/settings.ini
Desktop_Interface/build_android/package_source/local.properties~
Desktop_Interface/build_android/package_source/gradle.properties
Desktop_Interface/build_android/package_source/gradle.properties~
Desktop_Interface/build_android/package_source/local.properties
Desktop_Interface/build_android/package_source/local.properties~
Desktop_Interface/qrc_resources.cpp
AVR Code/USB_BULK_TEST/Debug
AVR Code/USB_BULK_TEST/Release
Desktop_Interface/debug/Labrador.vc.pdb
Desktop_Interface/debug/Labrador_resource.res
Desktop_Interface/debug/qrc_resources.cpp
!Desktop_Interface/bin/firmware/dfu-programmer.exe
*.o
Desktop_Interface/bin/Labrador
