[Desktop Entry]
Name=EspoTek Labrador
Comment=Software Interface for Labrador Board
Exec=/usr/bin/EspoTek-Labrador/Labrador
Terminal=false
Type=Application
Categories=Education;Electronics;
Icon=espotek-labrador
