[Desktop Entry]
Name=EspoTek Labrador
Comment=Software Interface for Labrador Board
Exec=/usr/share/espotek/labrador/Labrador 
Terminal=false
Type=Application
Categories=Electronics
Icon=/usr/share/app-install/icons/espotek-labrador.png


